{% extends 'info/basestudent.html' %}
{% load static %}
{% block name %}Profile{% endblock %}
{% block content %}
<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Edit Profile</h4>
                  <p class="card-category">Complete your profile</p>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <label class="bmd-label-floating">student (disabled)</label>
                          <input type="text" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Username</label>
                          <p>{{ request.user.student.name }}</p>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email address</label>
                          <p>{{ request.user.student.email }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Phone Number</label>
                          <p>{{ request.user.student.phone }}</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Parent Phone</label>
                          <p>{{ request.user.student.pph }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Adress</label>
                          <p>{{ request.user.student.address }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Father Name</label>
                          <p>{{ request.user.student.father_name }}</p>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Mother Name</label>
                          <p>{{ request.user.student.mother_name }}</p>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Date of birth</label>
                          <p>{{ request.user.student.DOB }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <div class="form-group">
                            <textarea class="form-control" rows="5"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                      {% if request.user.student.sex == "Male" %}
             <img src="{% static 'images/mike.jpg' %}" alt={{ request.user.student.name }}>
            {% else %}
             <img src="{% static 'images/girls.jpg' %}" alt={{ request.user.student.name }}>
            {%endif%}
                </div>
                <div class="card-body">
                  <h3 class="card-category">Student</h3>
                  <h4 class="card-title">{{ request.user.student.name }}</h4>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}